@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: #1a1f21;
}

.slick-slider {
  width: 80vw;
  max-width: 530px !important;
}

.slick-dots li button::before {
  color: #14b9a4 !important;
  font-size: 10px !important;
}
.slick-dots li {
  margin: 0 !important;
}

.slick-arrow {
  display: none !important;
}

.ant-form-item-explain-error {
  font-size: 12px;
  color: #d33030 !important;
  margin-top: 6px;
  margin-bottom: 16px;
}

.ant-form-item-has-error .ant-form-item-control-input-content {
  border: 1px solid #d33030;
  border-radius: 10px;
}

.ant-menu-item-selected {
  background-color: #f9f9f9 !important;
  color: #1a1f21 !important;
  font-weight: 700;
}

.ant-modal-content {
  top: -38px !important;
  width: 366px !important;
}
.ant-modal {
  display: grid !important;
  place-content: center !important;
  width: 100% !important;
}
.ant-modal-wrap {
  overflow-x: hidden !important;
}

#print-only {
  display: none;
}

@media print {
  #print-only {
    display: block;
  }
}

@media (min-width: 991px) {
  .ant-layout-sider {
    width: 259px !important;
    min-width: 259px !important;
    max-width: 259px !important;
  }
  .ant-menu-title-content {
    margin-left: 12px !important;
  }
  .ant-menu-item {
    padding: 0 8px !important;
    margin: 0 !important;
    width: 100% !important;
  }
}

@media (min-height: 768px) {
  main {
    padding-top: 100px !important;
  }
}

@media (min-height: 350px) and (max-height: 650px) {
  .hero {
    bottom: -100px !important;
  }
}

@media (min-height: 968px) {
  main {
    padding-top: 100px !important;
  }
}
